.upload {
  background: grey;
  border-radius: 5px;
  width: 50%;
  min-height: 200px; }
  .upload--has-file {
    background: antiquewhite; }
  .upload--drag-enter {
    background: aliceblue; }
  .upload canvas {
    display: none; }

.preview {
  max-width: 250px; }

.result {
  font-size: 10px; }
