<form action="">
    <input type="file" name="" id="">

    <input type="submit" value="Do it do it do it do it come on do it do it do it press me now">
</form>

<div id="hello"></div>

<canvas id="photo"></canvas>


<script src="js/app.js"></script>