.upload {
    background: #FCFF89;
    border-radius: 5px;
    width: 100%;
    min-height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &--drag-enter {
        background: #FE7187
    }

    &--has-file {
        background: #CA4B7C;
    }

    .input,
    .canvas {
        display: none;
    }
}